# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# IDE
.idea/
.vscode/
*.iml
*.iws

# macOS / iOS
.DS_Store
**/Pods/
**/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/local.properties
android/app/build/
android/.idea/

# Web
web/

# Misc
*.log
pubspec.lock
frames_backup_49/
__pycache__/
